.layout {
    height: 100%;
    width: 100%;
    display: flex;
}

.layout-sidebar {
    width: 272px;
    height: 100vh;
    background-color: #262626;
    border-right: 1px solid #FFFFFF ;
}

.layout-right {
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    background-color: #262626;
}

.layout-right-content-navbar {
    width: 100%;
    background-color: #494949;
    position: fixed;
    z-index: 100;
    padding: 20px;
}

.layout-right .layout-right-content {
    height: 100vh;
    width: 100%;
}